<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Nunito:wght@200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Portfolio</title>
</head>

<body>
    <div class="opening">
        <div class="video-wrapper">
            <video autoplay muted loop width="100%" class="opening_video">
                <source src="./resources/video (2160p).mp4" type="video/mp4">
            </video>
        </div>
        <div class="opening_overlay">
            <div class="frame">
                <div class="center">
                    <div class="carousel">
                        <div class="pre">I'm a </div>
                        <div class="change_outer">
                            <div class="change_inner">
                                <div class="element">Developer</div>
                                <div class="element">Designer</div>
                                <div class="element">Entrepreneur</div>
                                <div class="element">Qouran</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="opening_menu">
            <ul>
                <li>About</li>
                <li>Services</li>
                <li>Stack</li>
                <li>History</li>
            </ul>
        </nav>
    </div>
    <div class="main-container">
        <div class="about_me">
            <div class="description">
                <h1>About Me</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="about_img">
                <img src="./resources/eri.jpg" alt="">
            </div>
        </div>
        <section class="services">
            <h1>My Services</h1>
            <div class="services_card">
                <div class="service_card">
                    <h2>Front-End</h2>
                    <p></p>
                </div>
                <div class="service_card">
                    <h2> Back-End</h2>
                    <p></p>
                </div>
                <div class="service_card">
                    <h2>Web Design</h2>
                    <p></p>
                </div>
            </div>
            <div class="carousel_icons">
                <div class="carousel_icon">
                    <img src="./resources/amazon.png" alt="">
                    <div class="skills_barra">
                        <span id="5"></span>
                        <span id="4"></span>
                        <span id="3"></span>
                        <span id="2"></span>
                        <span id="1"></span>
                    </div>
                    <p>Beginner</p>
                </div>
            </div>
        </section>

    </div>
</body>

</html>