html 
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(rel='stylesheet', href='/css/style.css')
        link(href='https://fonts.googleapis.com/css2?family=Inconsolata&family=Nunito:wght@200&display=swa', rel='stylesheet')
        title Portfolio
body 
    div(class='opening')
        div(class='video-wrapper')
            video(autoplay, muted, loop, width='100%', class='opening_video')
                source(src='/images/video (2160p).mp4', type='video/mp4')
        div(class='opening_overlay')
            div(class='frame')
                div(class='center')
                    div(class='carousel')
                        div(class='pre') I'm a
                        div(class='change_outer')
                            div(class='change_inner')
                                div(class='element') Developer
                                div(class='element') Entrepeneur
                                div(class='element') Idea Maker 
                                div(class='element') Helper
        nav(class='opening_menu')
            ul
                li About 
                li Services 
                li Stack 
                li History 
    div(class='main-container')
        div(class='about_me')
            div(class='description')
                h1 About Me
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div(class='about_img')
                img(src='/images/eri.jpg')
        section(class='services')
            h1 My Services 
            div(class='services_card')
                div(class='service_card')
                    h2 Front-End 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                div(class='service_card')
                    h2 Back-End 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                div(class='service_card')
                    h2 Web Design 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div(class='carousel_icons')
                div(class='carousel_icon')
                    img(src='/images/amazon.jpg')
p Hola